::placeholder {
    color: #71706F  ;
    opacity: 1;
  }

.div{

}

.input-div{
    padding-top: 20px;
    display: flex;
}

.input{
    width: 100%;
    margin: auto;
    outline: none;
    padding: 14px 14px 14px 30px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 18px;
    /* color: #71706F; */
}

.select-div{
    padding-top: 20px;
}

.select{
    width: 100%;
    margin: auto;
    outline: none;
    /* color: #71706F; */
    background-color: transparent;
    padding: 14px 14px 14px 30px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 18px;
}

.option{
    color: black;
}

.button-div{
    padding-top: 20px;
    margin: 0px 0px 20px 0px;
}

.button{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border-color: #7A7979 ;
    font-size: 20px;
    background-color: #5B5B5B ;
    color: white;
    cursor: pointer;
    outline: none;
}