<div class="outer-div">
    <div class="inner-div">
        <table>
            <tr>
                <th>Name</th>
                <th>:</th>
                <td>Bharathi G</td>
            </tr>
            <tr>
                <th>DOB</th>
                <th>:</th>
                <td>12-2-1980</td>
            </tr>
            <tr>
                <th>Id</th>
                <th>:</th>
                <td>STA1203</td>
            </tr>
            <tr>
                <th>Classes</th>
                <th>:</th>
                <td>12th 'A' section<br>
                    11th 'C' section</td>
            </tr>
            <tr>
                <th>Subject</th>
                <th>:</th>
                <td>Maths</td>
            </tr>
        </table>
    </div>
    <div class="inner-div">
        <table>
            <tr>
                <th>Date of joining</th>
                <th>:</th>
                <td>10-2-2017</td>
            </tr>
            <tr>
                <th>Sex</th>
                <th>:</th>
                <td>Male</td>
            </tr>
            <tr>
                <th>Experience</th>
                <th>:</th>
                <td>3 years</td>
            </tr>
            <tr>
                <th>Address</th>
                <th>:</th>
                <td>2/73, Hare ram apartments,<br> Adambakkam, Chennai-28</td>
            </tr>
            <tr>
                <th>Mail Id</th>
                <th>:</th>
                <td>bharathi@gmail.com</td>
            </tr>
        </table>
    </div>
</div>




