
<div class="outer-div">
    <div class="inner-div section">
        <form action="">
            <input type="radio"> 12th 'A'<br>
            <input type="radio"> 11th 'C'
        </form>
    </div>
    <div class="outer-div unit"> 
    <form action="">
        <input type="checkbox"> Unit 1 <br>
        <input type="checkbox"> Unit 2 <br>
        <input type="checkbox"> Unit 3 <br>
        <input type="checkbox"> Unit 4 <br>
        <input type="checkbox"> Unit 5
    </form>
    </div>
</div>

